{% extends "base.html" %}

{% block title %}Coding Interview{% endblock %}

{% block content %}

<style>
.container{
    max-width:900px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#2563eb;
}

.btn{
    display:block;
    margin:20px auto;
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

.btn:hover{
    background:#1d4ed8;
}

.questions{
    margin-top:30px;
    line-height:1.9;
    font-size:18px;
    white-space:pre-wrap;
}
.btn-group{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.submit-btn,
.skip-btn{
    padding:12px 30px;
    font-size:18px;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

.submit-btn{
    background:#007bff;
}

.skip-btn{
    background:#ff9800;
}

</style>

<div class="container">

<h2>Question {{ question_no }}</h2>

<h3>{{ question }}</h3>

<form action="/evaluate_coding" method="POST">

<textarea
name="answer"
placeholder="Write your code here..."
required></textarea>

<input
type="hidden"
name="question"
value="{{ question }}">

<div class="btn-group">

<button
type="submit"
class="submit-btn">
Submit Code
</button>

<a href="/coding">
<button
type="button"
class="skip-btn">
Skip Question
</button>
</a>

</div>

</form>

</div>

</body>
</html>

<!-- <h1>Coding Interview</h1>

<form action="/generate_coding">
    <button class="btn">Generate Coding Questions</button>
</form>

<div class="questions">
{{ questions }}
</div>

</div> -->

{% endblock %}