{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}

<section class="hero">

    <h1>Crack Your Dream Job with AI</h1>

    <p>
        Practice HR, Technical and Coding Interviews using Artificial Intelligence.
    </p>

    <div class="buttons">
        <a href="/login">
         <button class="btn"> 🧑‍💻Start Interview</button>
        </a>

        <a href="/resume">
         <button class="btn">📄 Upload Resume </button>
        </a> 
    </div>


</section>

<section class="features">

    <div class="card">
        <h2>🤖 AI Evaluation</h2>
        <p>Get instant feedback on every answer.</p>
    </div>

    <div class="card">
        <h2>📄 Resume Analysis</h2>
        <p>ATS score and improvement suggestions.</p>
    </div>

    <div class="card">
        <h2>💻 Coding Practice</h2>
        <p>Practice interview coding questions.</p>
    </div>

    <div class="card">
        <h2>📊 Dashboard</h2>
        <p>Track your interview performance.</p>
    </div>

</section>

{% endblock %}